<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions> 
    <add assembly ="NLog.Targets.Logicmonitor"/>
  </extensions>
    <!--<variable name="Interval" value="10" />
    <variable name="batch" value="true" />-->

    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target name="Lm" xsi:type="LogicMonitor" Interval ="10" Batch="true" Company="lmaakashkhopade" LMAccessID="xz5i6L7Pz44k4wAb4b5r" LMAccessKey ="F972B{jWL-JI+Z}M=(aA~~=fcD(y[^993]pCyjS+"/>
    </targets>

    <rules>
        <!--<logger name="Microsoft.*" minlevel="Information" writeTo="logconsole" />-->
        <logger name="NlogPratice.Controllers.HomeController" minlevel="Information" writeTo="logconsole" />
        <logger name="*" minlevel="Information" writeTo="Lm" />
    </rules>
</nlog>