<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/adityabhairavkar/index.json" />
        <add key="githubAakash" value="https://nuget.pkg.github.com/AakashKhopade/index.json" />

    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="adityabhairavkar7" />
            <add key="ClearTextPassword" value="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" />
        </github>
        <githubAakash>
            <add key="Username" value="adityabhairavkar7" />
            <add key="ClearTextPassword" value="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" />
        </githubAakash>
    </packageSourceCredentials>
</configuration>
